body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.1);
    text-align: center;

}

h2{
    text-align: center;
    color: brown;
}


input{
    width: 80%;
    padding: 8px;
    margin: 6px 0 12px;
    border-radius: 6px;
    border: 1px solid brown;
    align-items: center;


}

button{
    width: 50%;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    background-color: brown;
    color: white;
    transition: 0 3s ease;
}

button:hover{
    background:burlywood;
}

#hasil{
    font-size: 16px;
    
}